@if (Cocktail != null)
{
    <div class="row">
        <div class="cocktail-ingredients col-8">
            <h3>@Cocktail.Name</h3>
            <div>Glass: @Cocktail.Glass</div>
            <div>
            Ingredients:
            <ul>
                @foreach (var ingredient in Cocktail.Ingredients)
                    {
                        <li>@ingredient.Measure @ingredient.Name</li>

                    }

                </ul>
            </div>
            <div>Instructions</div>
            <div>@Cocktail.Instructions</div>
        </div>
        <div class="cocktail-photo col-4">
            <img src="@Cocktail.Thumbnail" alt="Photo of @Cocktail.Name" />
        </div>
    </div>
}

@code {
    [Parameter]
    public Cocktail? Cocktail { get; set; }
}