@inject CocktailsService CocktailsService

@if (_cocktail != null)
{
    <div class="row">
        <div class="cocktail-ingredients">
            <h3>@_cocktail.Name</h3>
            <div>Glass: @_cocktail.Glass</div>
            <div>
            Ingredients:
            <ul>
                @foreach (var ingredient in _cocktail.Ingredients)
                    {
                        <li>@ingredient.measure @ingredient.name</li>

                    }

                </ul>
            </div>
            <div>Instructions</div>
            <div>@_cocktail.Instructions</div>
        </div>
        <div class="cocktail-photo">
            <img src="@_cocktail.Thumbnail" alt="Photo of @_cocktail.Name" />
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Cocktail? _cocktail;

    protected override void OnInitialized()
    {
        _cocktail = CocktailsService.GetDrink(Id);
    }
}